.container {
    display: inline-flex; /* Use inline-flex to shrink to fit content */
    flex-direction: column;
    max-width: 50%;
    width: auto;
    color: white;
    border-radius: 10px;
    background-color: #32445e;
    padding: 10px;
}